<?xml version='1.0' encoding='UTF-8'?><estudiante><nombres>$body.nombres</nombres><apellidos>$body.apellidos</apellidos><mensaje>$body.curso</mensaje><curso>$body.calificacion</curso><comentario>$body.nota</comentario></estudiante>